{
  "rules": {
    "camelcase": 0,
    "no-unused-expressions": 0,
    "prefer-arrow-callback": 0
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true,
    "dofile": true,
    "Ignis": true,
    "Sinon": true,
    "co": true
  }
}
