{
  "root":      true,
  "extends":  "airbnb/base",

  "rules": {
    "new-cap": 0,
    "no-undef": 2,
    "func-names": 0,
    "no-shadow": 0,
    "no-console": 1,
    "key-spacing": 0,
    "padded-blocks": 0,
    "no-const-assign": 2,
    "no-param-reassign": 0,

    "comma-dangle": [1, "never"]
  },

  "envs": {
    "node":     true,
    "commonjs": true,
    "browser":  false
  }
}
